In [1]:
import pandas as pd  # Librería para manejo de datos
import re  # Librería para expresiones regulares
from deep_translator import GoogleTranslator

In [2]:
df = pd.read_excel("../data/raw/scrapingIBM.xlsx", sheet_name="Datos")

In [3]:
df.head(3)

,REVIEW_TITLE,SCORE,ROLE,PROS,CONS,DATE,STATUS,LOCATION
0,Buena compañia,4,Project Manager,Mucha capacitacion opciones de crecimiento y p...,Largas jornadas de trabajo durante semana y fi...,2021-05-27,"Current Employee, more than 1 year","Monterrey, Nuevo León"
1,Una empresa que podría ser mejor con sus emple...,3,Técnico De Pruebas,"Buenas prestaciones, oportunidad de crecimiento.",Los puestos son heredados a amigos o conocidos...,2021-07-29,Current Employee,"El Salto, Jalisco"
2,buena experiencia buen trabajoa con salario po...,3,Analista Contable,flexibilidad horaria y trabajo desde casa iiii...,salario bajo,2017-06-20,Current Employee,Martínez

In [4]:
df.describe()

             SCORE                           DATE
count  3069.000000                           3069
mean      3.993809  2021-08-22 06:12:04.926686208
min       1.000000            2015-05-26 00:00:00
25%       3.000000            2020-10-02 00:00:00
50%       4.000000            2022-01-14 00:00:00
75%       5.000000            2022-12-23 00:00:00
max       5.000000            2024-05-23 00:00:00
std       0.997533                            NaN

In [5]:
df.shape

(3069, 8)

In [6]:
resultados = pd.DataFrame({
        'Valores Nulos': df.isnull().sum(),
        'Valores Duplicados': df.apply(lambda x: x.duplicated().sum())
    })
resultados

              Valores Nulos  Valores Duplicados
REVIEW_TITLE             11                1207
SCORE                     0                3064
ROLE                      0                1903
PROS                      0                  88
CONS                      0                  83
DATE                      0                1608
STATUS                    0                3051
LOCATION                867                2953

In [7]:
df.isnull().sum().sum()

878

In [8]:
df.duplicated().sum()

78

In [9]:
df["LOCATION"] = df["LOCATION"].fillna("Unknown")

In [10]:
df.isnull().sum().sum()

11

In [11]:
df.dropna(subset=['REVIEW_TITLE'], inplace=True)

In [12]:
df.sample(n=3)

,REVIEW_TITLE,SCORE,ROLE,PROS,CONS,DATE,STATUS,LOCATION
1915,Empresa,5,Anonymous Employee,"Excelente entorno para trabajar, te ayudan a a...",Sueldos un poco ajustados y son lentos los pro...,2022-05-31,"Current Employee, more than 8 years",Unknown
2447,Pros y contras,3,Mobile Developer,Me gusta mucho tener flexibilidad de trabajar ...,"Son muy burocráticos, tienes solamente una sem...",2019-04-21,Current Employee,"El Salto, Jalisco"
315,Empresa global,2,Senior Systems Engineer,Ayuda a armar un buen curriculum._x000D_ Posib...,Pobre reconocimiento._x000D_ No se premia el e...,2021-04-11,Current Employee,Buenos Aires

In [13]:
df["LOCATION"] = df["LOCATION"].str.title()
df["STATUS"] = df["STATUS"].str.title()

In [14]:
role_counts = df["ROLE"].value_counts()
role_counts

ROLE
Anonymous Employee                 275
Software Developer                  71
Project Manager                     68
Application Developer               64
Business Analyst                    50
                                  ...
Manufacturing Engineer               1
Data Analyst/ Backend Developer      1
Trainee - SAP ABAP Developer         1
Ejecutivo                            1
Frontend                             1
Name: count, Length: 1162, dtype: int64

In [15]:
# Crea una instancia del traductor
translator = GoogleTranslator(source='en', target='es')

# Traduce la columna 'ROLE' de tu DataFrame
df['ROLE'] = df['ROLE'].apply(lambda rol: translator.translate(rol))
df['ROLE'] = df['ROLE'].apply(lambda rol: translator.translate(rol))

In [16]:
role_counts = df["ROLE"].value_counts()
role_counts

ROLE
Empleado anónimo                 275
Desarrollador de software         83
Desarrollador de aplicaciones     79
Gerente de proyecto               68
Analista de negocios              50
                                ...
pasantia                           1
Analista de AP junior              1
Analista De Compras                1
LÍDER DE TRANSFORMACIÓN DE TI      1
Interfaz                           1
Name: count, Length: 1126, dtype: int64

In [17]:
status_counts = df["STATUS"].value_counts()
status_counts

STATUS
Current Employee                        1139
Current Employee, More Than 1 Year       351
Former Employee                          323
Current Employee, Less Than 1 Year       214
Current Employee, More Than 3 Years      212
Former Employee, More Than 1 Year        152
Current Employee, More Than 5 Years      130
Former Employee, More Than 3 Years       107
Former Employee, Less Than 1 Year         92
Current Employee, More Than 10 Years      88
Current Employee, More Than 8 Years       86
Former Employee, More Than 5 Years        57
Former Employee, More Than 10 Years       48
Former Employee, More Than 8 Years        47
Former Employee, More Than 2 Years         6
Former Employee, More Than 6 Years         3
Former Employee, More Than 9 Years         2
Former Employee, More Than 7 Years         1
Name: count, dtype: int64

In [18]:
df

,REVIEW_TITLE,SCORE,ROLE,PROS,CONS,DATE,STATUS,LOCATION
0,Buena compañia,4,Gerente de proyecto,Mucha capacitacion opciones de crecimiento y p...,Largas jornadas de trabajo durante semana y fi...,2021-05-27,"Current Employee, More Than 1 Year","Monterrey, Nuevo León"
1,Una empresa que podría ser mejor con sus emple...,3,Técnico de pruebas,"Buenas prestaciones, oportunidad de crecimiento.",Los puestos son heredados a amigos o conocidos...,2021-07-29,Current Employee,"El Salto, Jalisco"
2,buena experiencia buen trabajoa con salario po...,3,Analista Contable,flexibilidad horaria y trabajo desde casa iiii...,salario bajo,2017-06-20,Current Employee,Martínez
3,Buen lugar para trabajar,5,Gerente de ofertas,"Buenas prestaciones, salario por encima del me...","Distancia de las oficinas, burocracia.",2019-08-08,"Current Employee, More Than 5 Years","Guadalajara, Jalisco"
4,Bien pero con incertidumbre,4,Programador Web,Muy buen ambiente de trabajo aprendí muchísimo,A cada rato hay recortes cada Q hay incertidum...,2019-09-23,"Former Employee, More Than 5 Years",Unknown
...,...,...,...,...,...,...,...,...
3064,Buena empresa para crecer,4,ingeniero de pruebas,Gran ambiente de trabajo con buena flexibilida...,El campus de Guadalajara está muy retirado de ...,2020-02-21,"Current Employee, More Than 1 Year","El Salto, Jalisco"
3065,Gran experiencia en multinacional,4,Analista Contable Senior,"Organización, ambiente relajado. Gran crecimie...",Al ser tan grande aveces se pierde la individu...,2020-03-16,"Former Employee, More Than 5 Years",Buenos Aires
3066,Esperaría algo mejor,3,Desarrollador de aplicaciones,"Constante aprendizaje, gente preparada, buenas...",Depende del proyecto en el que estés que tan b...,2020-05-26,"Current Employee, More Than 1 Year",Ciudad De Mexico
3067,"Buen ambiente laboral, empresa 100% recomendable",5,Gerente de cuentas,Planes de salud y mejoras en los beneficios gl...,"No mucho para comentar, el horario y no politi...",2020-07-17,"Current Employee, More Than 8 Years",Montevideo
3068,Excelente,4,Arquitecto TI,Excelente lugar para desarrollarte aprender y ...,"Segun que posición , los sueldos pueden no ser...",2020-08-31,Current Employee,Buenos Aires

In [19]:
df1 = df.drop_duplicates()

In [20]:
df1.shape

(2987, 8)

In [21]:
# Función para extraer los años de experiencia y categorizar el estado
def procesar_status(status):
    match = re.search(r'More Than (\d+) Year', status)
    if match:
        anos_experiencia = int(match.group(1))
        categoria_status = "Empleado"
    elif 'Less Than 1 Year' in status:
        anos_experiencia = 0
        categoria_status = "Empleado"
    elif "Current" in status:
        anos_experiencia = "Desconocida"
        categoria_status = "Empleado"
    else:
        anos_experiencia = "Desconocida"
        categoria_status = "Exempleado"
    return anos_experiencia, categoria_status

# Aplicar la función para crear las nuevas columnas 'Años de Experiencia' y 'categoriaStatus'
df['tiempoCategoria'], df['categoriaStatus'] = zip(*df['STATUS'].apply(procesar_status))

In [24]:
df.dtypes

REVIEW_TITLE               object
SCORE                       int64
ROLE                       object
PROS                       object
CONS                       object
DATE               datetime64[ns]
STATUS                     object
LOCATION                   object
tiempoCategoria            object
categoriaStatus            object
dtype: object

In [22]:
df

,REVIEW_TITLE,SCORE,ROLE,PROS,CONS,DATE,STATUS,LOCATION,tiempoCategoria,categoriaStatus
0,Buena compañia,4,Gerente de proyecto,Mucha capacitacion opciones de crecimiento y p...,Largas jornadas de trabajo durante semana y fi...,2021-05-27,"Current Employee, More Than 1 Year","Monterrey, Nuevo León",1,Empleado
1,Una empresa que podría ser mejor con sus emple...,3,Técnico de pruebas,"Buenas prestaciones, oportunidad de crecimiento.",Los puestos son heredados a amigos o conocidos...,2021-07-29,Current Employee,"El Salto, Jalisco",Desconocida,Empleado
2,buena experiencia buen trabajoa con salario po...,3,Analista Contable,flexibilidad horaria y trabajo desde casa iiii...,salario bajo,2017-06-20,Current Employee,Martínez,Desconocida,Empleado
3,Buen lugar para trabajar,5,Gerente de ofertas,"Buenas prestaciones, salario por encima del me...","Distancia de las oficinas, burocracia.",2019-08-08,"Current Employee, More Than 5 Years","Guadalajara, Jalisco",5,Empleado
4,Bien pero con incertidumbre,4,Programador Web,Muy buen ambiente de trabajo aprendí muchísimo,A cada rato hay recortes cada Q hay incertidum...,2019-09-23,"Former Employee, More Than 5 Years",Unknown,5,Empleado
...,...,...,...,...,...,...,...,...,...,...
3064,Buena empresa para crecer,4,ingeniero de pruebas,Gran ambiente de trabajo con buena flexibilida...,El campus de Guadalajara está muy retirado de ...,2020-02-21,"Current Employee, More Than 1 Year","El Salto, Jalisco",1,Empleado
3065,Gran experiencia en multinacional,4,Analista Contable Senior,"Organización, ambiente relajado. Gran crecimie...",Al ser tan grande aveces se pierde la individu...,2020-03-16,"Former Employee, More Than 5 Years",Buenos Aires,5,Empleado
3066,Esperaría algo mejor,3,Desarrollador de aplicaciones,"Constante aprendizaje, gente preparada, buenas...",Depende del proyecto en el que estés que tan b...,2020-05-26,"Current Employee, More Than 1 Year",Ciudad De Mexico,1,Empleado
3067,"Buen ambiente laboral, empresa 100% recomendable",5,Gerente de cuentas,Planes de salud y mejoras en los beneficios gl...,"No mucho para comentar, el horario y no politi...",2020-07-17,"Current Employee, More Than 8 Years",Montevideo,8,Empleado
3068,Excelente,4,Arquitecto TI,Excelente lugar para desarrollarte aprender y ...,"Segun que posición , los sueldos pueden no ser...",2020-08-31,Current Employee,Buenos Aires,Desconocida,Empleado

In [23]:
ruta = '..\\data\\processed\\reviewClean.csv'
df.to_csv(ruta, sep="|", index=False)